.GameResult {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.4); /* black with 60% opacity */
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 90vw;
  min-width: 800px;
  margin-top: auto;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: sans-serif;
}
