.Board-Container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px
}

.Board-Container button {
  width: 200px;
  background-color:rgb(27, 27, 27);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Copse", sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.Card-Stack{
  position: relative; /* container for absolute cards */
  width: 226px; /* card width */
  margin-top: 20px;

}